<% @recipes.each do |recipe| %>
  <h3><a href=<%= recipe_path(recipe.id) %>><%= recipe.name %></a> <small>by <%= recipe.author %></small></h3>
<% end %>

<%= link_to "Add a recipe", new_recipe_path %>
